.button-panel {
  width: 400px;
  padding: 10px;
  margin: auto;
  background-color: rgb(187, 186, 186);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.panel-row {
  display: flex;
}
